.update-patient-container {
  padding: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.update-patient-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-cards-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-card {
  width: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cancel-btn,
.update-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ff4d4d;
  color: white;
}

.update-btn {
  background-color: #4caf50;
  color: white;
}
